* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
background-color: #ffffff;
font-family: Arial;
padding: 50px;
}

.login {
margin: 20px auto;
width: 300px;
}

.login-screen {
background-color: #009688;
padding: 30px;
border-radius: 1px
}

.app-title {
text-align: center;
color: #ffffff;
}

.login-form {
text-align: center;
}

.control-group {
margin-bottom: 1px;
}

label{
color: #ffffff;	
	
}

input {
text-align: center;
background-color: #fafafa;
color: #009688;
border: 1px solid transparent;
border-radius: 1px;
font-size: 18px;
font-weight: 200;
padding: 10px 0;
width: 230px;
transition: border .5s;
}

input:focus {
border: 2px solid #009688;
box-shadow: none;
}

.btn {
  border: 5px solid transparent;
  background: #009688;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #26a69a;
}