HEAD
* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
background-color: #009688;
font-family: Arial;
padding: 50px;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #e0f2f1;
padding: 30px;
border-radius: 1px
}

.app-title {
text-align: center;
color: #26a69a;
}

.login-form {
text-align: center;
}

.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #fafafa;
color: #b2dfdb;
border: 2px solid transparent;
border-radius: 3px;
font-size: 18px;
font-weight: 200;
padding: 10px 0;
width: 230px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 5px solid transparent;
  background: #009688;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #26a69a;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;

body {
    background: #B0BEC5;
}

#konten {
  background:url(../images/phone.png);
  background-size: 400px 550px;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  margin-top: 5%;
  padding-top: 70px;
}

#isi{
  background: #009688;
  margin-left: 90px;
  width: 206px;
  height: 364px;
  color: #fefefe;
  padding: 5px;
}

#isi img{
  margin-top: 7px;
  margin-left: 10px;
  float: left;
  cursor: pointer;
}

#judul{
  margin-left: 50px;
  margin-top: 10px;
  font-size: 1.3em;
}

#isi-body{
  color: #009688;
  margin-top: 10px;
  padding: 1px;
  background: #fefefe;
  width: 100%;
  height: 320px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}

#isi-body p{
  text-align: center;
}

.rek-kiri{
  text-align: center;
  float: left;
  width: 50%;
}

.rek-kanan{
  text-align: center;
  float: right;
  width: 50%;
}

.tombol{
  padding: 7px;
  color: #fefefe;
  background: #009688;
  font-size: 0.7em;
  cursor: pointer;
}

/* -- form styles ----------------------------------- */
.form-label {
  margin-left: 5%;
  margin-bottom: 10px;
  font-size: 0.7em;
}
.input-group {
  display: table;
  border-collapse: separate;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 90%;
  margin-left: 5%;
}
.input-field {
  height: 20px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}
/* -- input styles ----------------------------------- */
#isi-body form input[type="text"]{
  background-color: rgba(2, 2, 2, 0.07);
  color: #009688;
}
#isi-body form input[type="text"]:hover{
  background-color: #B2DFDB;
  color: #fefefe;
  outline-color: #009688;
}
#isi-body form input[type="text"]:focus {
  background-color: #ecf0f1;
  color: black;
  outline-color: #009688;
}
#isi-body form input[type="text"]:valid {
  color: #009688;
  outline-color: #009688;
>>>>>>> 048f870ab8d44a4034662127e1f5f656873f1a98
}